<app-hill-background cover></app-hill-background>
<div class="marker-generator-page">
  <form [formGroup]="markerFormGroup" class="marker-form" autocomplete="off">
    <mat-card class="marker-card">
      <mat-card-title>Generate Markers</mat-card-title>
      <mat-card-content class="marker-card-content">
        <mat-form-field class="form-field" hideRequiredMarker>
          <mat-label>Page Size</mat-label>
          <mat-select required formControlName="pageSizeControl">
            <mat-option value="LETTER">Letter</mat-option>
            <mat-option value="A4">A4</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle class="form-field include-flowers" formControlName="includeFlowersControl">Flower Markers</mat-slide-toggle>
        <mat-form-field class="form-field" hideRequiredMarker>
          <mat-label>Number of Nests</mat-label>
          <input matInput type="number" formControlName="numNestsControl" min="0" [max]="maxNumNests" required>
          <mat-hint>Usually how many students in your class</mat-hint>
          <mat-error *ngIf="markerFormGroup.controls.numNestsControl.invalid">
            Please enter a value between 0 and {{maxNumNests}}.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-button
          type="button"
          (click)="openPDF()"
          [disabled]="!markerFormGroup.valid"
        >
          Open PDF
        </button>
        <button mat-icon-button (click)="downloadPDF()" [disabled]="!markerFormGroup.valid">
          <mat-icon>download</mat-icon>
        </button>
        <button mat-icon-button (click)="printPDF()" [disabled]="!markerFormGroup.valid">
          <mat-icon>print</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
