<app-hill-background cover></app-hill-background>
<div class="marker-generator-page">
  <form [formGroup]="markerFormGroup" class="marker-form" autocomplete="off">
    <mat-card class="marker-card">
      <mat-card-title>Generate Markers</mat-card-title>
      <mat-card-content class="marker-card-content">
        <div class="side-by-side">
          <mat-form-field class="form-field" hideRequiredMarker>
            <mat-label>Page Size</mat-label>
            <mat-select required formControlName="pageSizeControl">
              <mat-option value="LETTER">Letter (8.5" x 11")</mat-option>
              <mat-option value="TABLOID">Tabloid (11" x 17")</mat-option>
              <mat-option value="A3">ISO A3</mat-option>
              <mat-option value="A4">ISO A4</mat-option>
              <mat-option value="A5">ISO A5</mat-option>
              <mat-option [value]="{width: 4 * 72, height: 6 * 72}">4" x 6"</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field" hideRequiredMarker>
            <mat-label>Page Orientation</mat-label>
            <mat-select required formControlName="pageOrientationControl" [compareWith]="compareOrientationAndNumPerPage">
              <mat-option [value]="{pageOrientation: 'portrait', numPerPage: 1}">Portrait</mat-option>
              <mat-option [value]="{pageOrientation: 'landscape', numPerPage: 1}">Landscape</mat-option>
              <mat-option [value]="{pageOrientation: 'landscape', numPerPage: 2}">Landscape (2 per page)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-checkbox class="form-field field-margin" color="primary" formControlName="includeFlowersControl">Flower Markers</mat-checkbox>
        <mat-checkbox
          class="form-field field-margin"
          color="primary"
          formControlName="includeNestsControl"
          (change)="$event.checked ? markerFormGroup.controls.numNestsControl.enable() : markerFormGroup.controls.numNestsControl.disable()"
        >
          Nest Markers
        </mat-checkbox>
        <mat-form-field class="form-field" hideRequiredMarker>
          <mat-label>Number of Nests</mat-label>
          <input matInput type="number" formControlName="numNestsControl" min="1" [max]="maxNumNests" required>
          <mat-hint>Usually how many students there are in your class</mat-hint>
          <mat-error *ngIf="markerFormGroup.controls.numNestsControl.invalid">
            Please enter a value between 0 and {{maxNumNests}}.
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="downloadPDF()" [disabled]="!markerFormGroup.valid" title="Download markers PDF">
          <mat-icon>file_download</mat-icon> Download
        </button>
        <button mat-button (click)="printPDF()" [disabled]="!markerFormGroup.valid" title="Print markers">
          <mat-icon>print</mat-icon> Print
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
