.marker-generator-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-form {
  width: 400px;
  margin: 16px;
}

.marker-card-content {
  display: flex;
  flex-direction: column;
}

.marker-card {
  mat-card-title {
    margin-bottom: 16px;
  }
}

.field-margin {
  margin-bottom: 16px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  >* {
    width: calc(50% - 8px);
  }
}
