<app-hill-background cover></app-hill-background>
<div class="main-view" *ngIf="(loading$ | async) === false else loading">
  <div class="top-content">
    <div class="top-content-middle-section">
      <mat-card class="join-code">
        <ng-container *ngIf="(joinCode$ | async) as joinCode; else noJoinCode">
          <div class="above-join-code">Join at <b>buzzabout.app</b> with the join code:</div>
          <h1 class="join-code-text">{{ joinCode.id | slice:0:3 }}&nbsp;{{ joinCode.id | slice:3:6 }}</h1>
        </ng-container>
        <ng-template #noJoinCode>
          <div class="above-join-code">To allow players to join:</div>
          <div class="create-join-code">
            <button mat-raised-button color="primary" (click)="createJoinCode()" [disabled]="joinCodeButtonDisabled$ | async">Create join code</button>
          </div>
          <div class="below-join-code-button">
            Join codes expire after one hour
          </div>
        </ng-template>
        <mat-card-actions>
          <div class="player-count">
            <mat-icon>person</mat-icon>
            <span class="player-count-text">&nbsp;{{(teacherSessionService.studentsInCurrentSession$ | async)?.length}}</span>
          </div>
          <button
            mat-icon-button
            (click)="deleteJoinCode()"
            aria-label="Remove join code"
            matTooltip="Remove join code"
            [disabled]="(joinCode$ | async) === null"
          >
            <mat-icon>block</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="player-list">
    <app-joined-students [studentList]="teacherSessionService.studentsInCurrentSession$ | async"></app-joined-students>
  </div>
</div>

<div class="field-guide-dialog" *ngIf="(showFieldGuide$ | async) && (loading$ | async) === false">
  <mat-card>
    <mat-card-title>Showing Field Guide</mat-card-title>
    <mat-card-content>
      Now showing the Field Guide on player devices.
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="closeFieldGuide()">Stop Showing</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <div class="centered-container">
    <mat-card class="loading">
      <mat-card-title>
        Loading&hellip;
      </mat-card-title>
      <mat-spinner></mat-spinner>
    </mat-card>
  </div>
</ng-template>

<app-bottom-bar>
  <button left mat-raised-button color="accent" (click)="quitSession()">Quit Session</button>
  <button center mat-raised-button color="accent" (click)="openRoundDialog()" [disabled]="(loading$ | async)">Choose Round</button>
  <button right mat-button (click)="showFieldGuide()" [disabled]="(loading$ | async) || (showFieldGuide$ | async)">Show Field Guide</button>
</app-bottom-bar>
