<app-top-menu-bar [contents]="contents"></app-top-menu-bar>

<div #contents>
  <div class='reviewPage'>
    <div class='reviewItemGroup'>
      <div *ngFor='let f of this.flowers' class='flowerWrapper'>
        <app-review-item [reviewFlower]='f'></app-review-item>
      </div>
      <div *ngFor='let b of this.bees' class='beeWrapper'>
        <app-review-item [reviewBee]='b'></app-review-item>
      </div>
    </div>
  </div>
</div>

<!--
  Dear future developers: Hi!

  You may be wondering why we didn't make `.reviewPage` and `contents` the same
  div.

  One of the things about `contents` is that `app-top-menu-bar` will offset it
  vertically so that the menu bar doesn't cover `contents` up.
  `app-top-menu-bar` accomplishes this by setting `padding-top` on `contents`.

  However, `.reviewPage` has its own CSS that already uses `padding-top`.
  Because of this conflict, we can't use `.reviewPage` as `contents`; we have
  to make a new div.
-->
