rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{session} {
      // TODO: Put restrictions on who can modify sessions.
      allow read, write: if true;
    }
    match /sessions/{session}/rounds/{round} {
      // TODO: Put restrictions on who can modify rounds.
      allow read, write: if true;
    }
    match /sessions/{session}/rounds/{round}/interactions/{interaction} {
      // TODO: Put restrictions on who can modify rounds.
      allow read, write: if true;
    }
    match /sessions/{session}/rounds/{round}/students/{student} {
      // TODO: Put restrictions on who can modify students.
      allow read, write: if true;
    }
    match /sessions/{session}/students/{user} {
      // Checks if the user id is the same as the document id
      allow read, write: if request.auth.uid == user;
    }
    match /{document=**} {
    	allow read: if true;
    }
  }
}
