@import "../../variables";


.student-login-page{
    background-repeat: no-repeat;
    background-image: url('/assets/images/large-display/hill-compressed.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
  width: 400px;
  margin: 16px;
}

.login-card-content{
  display: flex;
  flex-direction: column;
}
