@import "../../variables";


.page{
    background-repeat: no-repeat;
    background-image: url('/assets/images/large-display/hill-compressed.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
  min-width: 40%;
  max-width: 60%;
  max-height: 50%;
}

.login-card{
  padding: 20px;
}

.login-card-content{
  display: flex;
  flex-direction: column;
}
