<section>
  <p>
    <button (click)="leaveSession()">Leave Session</button>
  </p>
  <p>
    <label for="session-id">Session ID</label>
    <input #sessionId name="session-id" value="demo-session">
  </p>
  <p>
    <label for="student-name">What's your name?</label>
    <input #studentName name="student-name">
  </p>
  <p>
    <button (click)="joinSession(sessionId.value, studentName.value)">Join Session (and set name)</button>
  </p>
</section>

<section>
  <p>UserID: {{ (authService.currentUser$ | async)?.uid }}</p>
  <p>Student Name: {{ (sessionService.sessionStudentData$ | async)?.name }}</p>
  <p>Session: {{JSON.stringify(sessionService.currentSession$ | async)}}</p>
</section>

<section>
  <h2>Round</h2>
  <p>running: {{roundService.currentRunning$ | async}}</p>
  <p>time: {{roundService.currentTime$ | async}}</p>
  <p>current bee: {{(roundService.currentBeeSpecies$ | async)?.name}}: {{(roundService.currentBeeActive$ | async) ? 'active' : 'not active' }}</p>
  <h3>Flowers</h3>
  <table>
    <tr *ngFor="let flower of roundService.currentFlowers$ | async">
      <td>{{flower.species.name}}:</td>
      <td>{{flower.isBlooming ? "🌷 blooming" : "🥀 not blooming"}}</td>
    </tr>
  </table>
</section>

