<button (click)="joinSession()">Join Session</button>
<button (click)="leaveSession()">Leave Session</button>
<p>Session: {{JSON.stringify(sessionService.currentSession$ | async)}}</p>

<h2>Round</h2>
<p>running: {{roundService.currentRunning$ | async}}</p>
<p>time: {{roundService.currentTime$ | async}}</p>

<h3>Flowers</h3>
<table>
  <tr *ngFor="let flower of roundService.currentFlowers$ | async">
    <td>{{flower.species.name}}:</td>
    <td>{{flower.isBlooming ? "🌷 blooming" : "🥀 not blooming"}}</td>
  </tr>
</table>
