@import "../../../variables";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.large-display-content {
  // Fill the rest of the screen. (The parts not covered by the toolbar.)
  flex: 1;
  // Crop the contents if they're too big.
  overflow: hidden;
  position: relative;

  &.lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

mat-spinner {
  margin: auto;
  margin-top: 16px;
}

app-bottom-bar {
  z-index: 1;
}
