<ng-container [ngSwitch]="currentScreen$ | async">
  <ng-container *ngSwitchCase="ScreenId.Lobby">
    <app-session-lobby></app-session-lobby>
  </ng-container>

  <ng-container *ngSwitchCase="ScreenId.DuringTheRound">
    <div class="large-display-content during-the-round">
      <ng-container [ngSwitch]="roundStatus$ | async">
        <app-ld-play-round  *ngSwitchCase="'playRound'"></app-ld-play-round>
        <app-ld-pre-round *ngSwitchCase="'preRound'"></app-ld-pre-round>
        <app-ld-post-round *ngSwitchCase="'postRound'"></app-ld-post-round>
        <ng-container *ngSwitchDefault>
          <div class="centered-container">
            <mat-card>
              <mat-card-title>
                Loading Round&hellip;
              </mat-card-title>
              <mat-spinner></mat-spinner>
            </mat-card>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <app-bottom-bar>
      <div left>
        <button mat-raised-button color="accent" (click)="quitRound()">Quit Round</button>
      </div>

      <div center>
        <button mat-mini-fab color="accent" (click)="toggleTimerRunning()" [disabled]="(this.roundStatus$ | async) === 'postRound'"
        >
          <mat-icon>
            {{(timerService.running$ | async) ? 'pause' : 'play_arrow'}}
          </mat-icon>
        </button>
      </div>
    </app-bottom-bar>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <app-hill-background cover></app-hill-background>
    <div class="centered-container">
      <mat-card>
        <mat-card-title>
          Loading Session&hellip;
        </mat-card-title>
        <mat-spinner></mat-spinner>
      </mat-card>
    </div>
  </ng-container>
</ng-container>
