<ng-container [ngSwitch]="currentScreen$ | async">
  <ng-container *ngSwitchCase="ScreenId.SessionLobby">
    <app-hill-background cover></app-hill-background>
    <div class="centered-container">
      <mat-card>
        <mat-card-title>Waiting for round to begin&hellip;</mat-card-title>
      </mat-card>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="ScreenId.StudentRound">
    <app-student-round></app-student-round>
  </ng-container>

  <ng-container *ngSwitchCase="ScreenId.InvalidSession">
    <app-hill-background cover></app-hill-background>
    <div class="centered-container">
      <mat-card>
        <mat-card-title>Error: invalid session</mat-card-title>
      </mat-card>
    </div>
	</ng-container>

  <ng-container *ngSwitchDefault>
    <app-hill-background cover></app-hill-background>
    <div class="centered-container">
      <mat-card>
        <mat-card-title>
          Loading Session&hellip;
        </mat-card-title>
        <mat-spinner></mat-spinner>
      </mat-card>
    </div>
  </ng-container>

</ng-container>
