<ng-container [ngSwitch]="currentScreen$ | async">

  <app-student-round *ngSwitchCase="ScreenId.StudentRound"></app-student-round>

  <app-field-guide *ngSwitchCase="ScreenId.FieldGuide" [backButton]="false"></app-field-guide>

  <ng-container *ngSwitchDefault>
    <app-hill-background cover></app-hill-background>
    <div class="centered-container" [ngSwitch]="currentScreen$ | async">

      <mat-card *ngSwitchCase="ScreenId.SessionLobby">
        <mat-card-title>Waiting for round to begin&hellip;</mat-card-title>
        <mat-card-content>
          Please wait for the host to start a round.
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button routerLink="/">Exit Session</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngSwitchCase="ScreenId.InvalidSession">
        <mat-card-title>Error: invalid session</mat-card-title>
        <mat-card-actions align="end">
          <button mat-button color="primary" routerLink="/">Go Back</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngSwitchDefault>
        <mat-card-title>
          Loading Session&hellip;
        </mat-card-title>
        <mat-spinner></mat-spinner>
      </mat-card>

    </div>
  </ng-container>

</ng-container>
