<div class='progress-indicator-wrapper'>
  <div class='monthProgressWrapper'>
    <a class='progressMonth' *ngFor='let month of this.months'>
      <a *ngIf='month !== this.gameMonth'>{{month}}</a>
      <a *ngIf='month === this.gameMonth' class='currentMonth'>{{month}}</a>
    </a>
    <mdc-linear-progress class='monthProgress' determinate [progress]='this.linearProgress()' [buffer]='1' secondary='false'></mdc-linear-progress>
  </div>
  <div class='progress-spinner-wrapper'>
    <mat-progress-spinner *ngIf='this.gameMonth' mode='determinate' value='{{this.spinnerProgress()}}' strokeWidth='60'></mat-progress-spinner>
  </div>

</div>

<!-- {{this.gameLength + ' ' + this.gameTime + ' ' + this.gameMonth}} -->
