@import "../../variables";

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $large-display-background;

  .flower-layout-container {
    position: relative;

    app-flower-layout {
      display: block;
      width: 100%;
    }

    app-timer-progress-spinner {
      position: absolute;
      display: block;
      left: 40px;
      top: 40px;
    }
  }
}
