@import "../../variables";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $large-display-background;
}

.large-display-content {
  // Fill the rest of the screen. (The parts not covered by the toolbar.)
  flex: 1;
  // Crop the contents if they're too big.
  overflow: hidden;

  position: relative;

  .during-a-round {
    app-flower-layout {
      display: block;
      width: 100%;
    }

    app-timer-progress-spinner {
      position: absolute;
      display: block;
      left: 40px;
      top: 40px;
    }

    app-timer-progress-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.bottom-bar {
  // Use 64px as a height, because that's how tall the mdc-top-app-bar is.
  // (Actually, on small screens it shrinks to 56px, but that complexity
  // probably isn't worth building into the bottom bar right now.)
  height: 64px;
  background-color: $mdc-theme-primary;
  display: flex;
  flex-direction: row;

  & > div {
    // The child divs (the left, center, and right thirds of the toolbar) should
    // stretch to fill the entire bar.
    flex: 1;
    // But give them a bit of padding so that their contents aren't right up
    // against the edge.
    padding-left: 16px;
    padding-right: 16px;

    // Each subsection of the toolbar should also be a flex-box.
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Within the left third, all items should be left-justified. (Which is the
  // default.)

  .center {
    // Within the center third, all items should be centered.
    justify-content: center;
  }

  .right {
    // And within the right third, all items should be right-justified.
    justify-content: flex-end;
  }

  button {
    background-color: $mdc-theme-secondary;
    // This is the same text color that Angular MDC uses this for its
    // mdc-top-app-bar.
    color: rgba(0, 0, 0, 0.87);

    &[mdc-fab] {
      transform: scale(0.9);

      // Since the other buttons in the toolbar don't have shadows, we
      // should probably turn off the shadow on FABs--otherwise, it'll clash.
      box-shadow: none;
    }
  }
}
