<div class="large-display-content">
  <div class="during-a-round">
    <app-timer-progress-bar [currentTime]="timerService.currentTime$ | async" [startMonth]="this.startTime.month" [endMonth]="this.endTime.month"></app-timer-progress-bar>
    <app-flower-layout [items]="demoFlowers"></app-flower-layout>
    <app-timer-progress-spinner [currentTime]="timerService.currentTime$ | async" [startTime]="this.startTime" [endTime]="this.endTime"></app-timer-progress-spinner>
  </div>
</div>

<div class="bottom-bar">
  <div class="left">
    <button mdc-button>Quit Game</button>
  </div>
  <div class="center">
    <button mdc-button
      [disabled]="running === undefined"
      (click)="toggleTimerRunning()"
    >
      <div *ngIf="running; then pauseIcon else playIcon"></div>
    </button>
  </div>
  <div class="right">
    <button mdc-button>Skip Round</button>
  </div>
</div>

<ng-template #playIcon>
  <mdc-icon>play_arrow</mdc-icon>
</ng-template>

<ng-template #pauseIcon>
  <mdc-icon>pause</mdc-icon>
</ng-template>
