<div class="large-display-content" [ngSwitch]="currentScreen">
  <div *ngSwitchCase="ScreenId.WaitingToAuthenticate" class="waiting-to-authenticate">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>Loading&hellip;</p>
  </div>

  <div
      *ngSwitchCase="ScreenId.Lobby"
      class="lobby"
  >
    <p>Waiting for the round to start&hellip;</p>
  </div>
  <div *ngSwitchCase="ScreenId.DuringTheRound" class="during-the-round">
    <app-timer-progress-bar
        [currentTime]="timerService.currentTime$ | async"
        [startMonth]="this.startTime.month"
        [endMonth]="this.endTime.month"
    ></app-timer-progress-bar>
    <app-flower-layout [items]="demoFlowers"></app-flower-layout>
    <app-timer-progress-spinner
        [currentTime]="timerService.currentTime$ | async"
        [startTime]="this.startTime"
        [endTime]="this.endTime">
    </app-timer-progress-spinner>
  </div>
</div>

<div class="bottom-bar" [ngSwitch]="currentScreen">
  <ng-container *ngSwitchCase="ScreenId.Lobby">
    <div class="right">
      <button mat-raised-button color="accent" (click)="startRound()">
        Start Round
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="ScreenId.DuringTheRound">
    <div class="left">
      <button mat-raised-button color="accent">Quit Game</button>
    </div>

    <div class="center">
      <button
          mat-mini-fab
          color="accent"
          [disabled]="running === null"
          (click)="toggleTimerRunning()"
      >
        <mat-icon>{{running ? 'pause' : 'play_arrow'}}</mat-icon>
      </button>
    </div>

    <div class="right">
      <button mat-raised-button color="accent">Skip Round</button>
    </div>
  </ng-container>
</div>
