.student-bee {
  width: 50%;
  margin-bottom: 16px;
}

.mat-card {
  margin: 16px;
}

.inactive-bee {
  .mat-card-subtitle {
    margin-bottom: 8px;
  }
}

mat-spinner {
  margin: auto;
  margin-top: 16px;
}
