<div class="timerBar">
  <div class="displayedMonth">
    <!-- <button mdc-icon-button icon="fast_rewind"></button> -->
    <!-- <button mdc-icon-button icon="fast_forward"></button> -->
  </div>
  <div class="timeSliderWrapper">
    <div class="timerController">
      <button mdcIconButton [on]="this.paused" (click)="this.clickPausePlay()">
        <mdc-icon mdcIconOn>play_arrow</mdc-icon>
        <mdc-icon>pause</mdc-icon>
      </button>
      <button mdc-icon-button icon="replay" (click)="this.reset()"></button>
    </div>
    <mdc-slider class="timeSlider" [min]="0" [max]="this.gameLength" value="{{this.currentTime}}" (input)="onInput($event)" (change)="onChange($event)"></mdc-slider>
    <a id='toEnd' class='displayedTime'>{{this.timeRemaining()}}s left</a>
  </div>
</div>

<div class="backgroundMonth">
  {{this.currentMonth.toLocaleUpperCase()}}
</div>
