// @import '~@angular-mdc/theme/material';

// $bufferColor: #A1A1A1;

.mdc-linear-progress {
    // @include mdc-linear-progress-buffer-color($bufferColor);
    height: 40px;
    border-radius: 16px;
}

ul {
    text-align: center;
    list-style-type: none;
    position: relative;
    bottom: 40px;
    margin: 0px; 
    padding: 0px;
}

li {
    font-size: 24px;
    color: white;
    display: inline-block;
    border-right-style: solid;
    border-color: white;
    width:12%;
    padding: 5px 0px;
}

li:last-child {
    border-style: none;
}