// @import "@material/linear-progress/mdc-linear-progress.scss";

$bufferColor: #A1A1A1;

mdc-linear-progress {
    height: 40px;
    border-radius: 16px;
}

// The only way I've found to change the buffer color on the progress bar
::ng-deep .mdc-linear-progress__buffer {
    background-color: $bufferColor;
}

ul {
    text-align: center;
    list-style-type: none;
    position: relative;
    bottom: 40px;
    margin: 0px; 
    padding: 0px;

}

li {
    font-size: 24px;
    color: white;
    display: inline-block;
    border-right-style: solid;
    border-color: white;
    width:12%;
    padding: 5px 0px;
}

#lastMonth {
    border-style: none;
}