@use "../../variables" as *;

.timer-progress-bar-container {
  width: 100%;
  position: absolute;
  top: 0;

  mat-progress-bar.monthProgress {
    height: 24px;

    .mat-progress-bar-fill::after {
      background-color: lighten($mdc-theme-primary, 15%);
    }
  }

  .progressMonths {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .progressMonth {
      flex: 1;
      height: 24px;
      line-height: 24px;
      top: -24px;
      text-align: center;
      font-size: 16px;
      position: relative;

      &:not(:last-child) {
        border-right: 1px solid white;
      }

      &.currentMonth {
        font-weight: 600;
        color: black;
      }
    }
  }
}

