@import "../../variables";

.timer-progress-bar-container {
  display: block;
  width: 100%;
  position: absolute;
  color: darken($mdc-theme-primary, 35%);
  top: 0;

  .progressMonth {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    top: -24px;
    width: 1/9 * 100%;
    text-align: center;
    font-size: 16px;
    position: relative;
  }

  .currentMonth {
    font-weight: 600;
    color: black;
  }

  .separator {
    margin-top: 7px;
    height: 10px;
    width: 1px;
    background-color: darken($mdc-theme-primary, 30%);
    position: absolute;
    right: 0;
  }

  .monthProgress {
    position: relative;
    height: 24px;

    .mdc-linear-progress__bar-inner {
      background-color: lighten($mdc-theme-primary, 15%);
    }

    .mdc-linear-progress__buffer {
      background-color: lighten($mdc-theme-primary, 35%);
    }
  }
}

