@import "../../variables";



.bottom-bar {
  // Use 64px as a height, because that's how tall the mdc-top-app-bar is.
  // (Actually, on small screens it shrinks to 56px, but that complexity
  // probably isn't worth building into the bottom bar right now.)
  height: 64px;
  width: 100%;
  background-color: mat-color($primary);
  display: flex;
  flex-direction: row;

  & > div {
    // The child divs (the left, center, and right thirds of the toolbar) should
    // stretch to fill the entire bar.
    flex: 1;
    // But give them a bit of padding so that their contents aren't right up
    // against the edge.
    padding-left: 16px;
    padding-right: 16px;

    // Each subsection of the toolbar should also be a flex-box.
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Within the left third, all items should be left-justified. (Which is the
  // default.)

  .center {
    // Within the center third, all items should be centered.
    justify-content: center;
  }

  .right {
    // And within the right third, all items should be right-justified.
    justify-content: flex-end;
  }
}
