h1{
    display: inline-block;
}

.image {
    display: inline-block;
}

.non-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bee{
    display: inline-block;
    position: relative;
    bottom: 20%;
}