<h2>Round Templates</h2>
<div *ngFor="let template of roundTemplates">
  <h3>{{template.name}}</h3>
  <div class="template-grid-container">
    <div>
      <ul>
        <li>
          Flowers
          <ol>
            <li *ngFor="let flower of template.flowerSpecies">{{flower.name}} ({{flower.sci_name}})</li>
          </ol>
        </li>
        <li>
          Bees
          <ul>
            <li *ngFor="let bee of template.bees">{{bee.species.name}} ({{bee.species.sci_name}}) - {{bee.weight}}</li>
          </ul>
        </li>
        <li>Timer
          <ul>
            <li>Start time: {{template.startTime.toString()}}</li>
            <li>End time: {{template.endTime.toString()}}</li>
            <li>tick speed: {{template.tickSpeed}}ms</li>
            <li>Round length: {{((template.endTime.time - template.startTime.time) * template.tickSpeed) / 1000}}s</li>
          </ul>
      </ul>
    </div>
    <div>
      <app-flower-layout [items]="getFlowers(template.flowerSpecies)" ></app-flower-layout>
      <div>
        <img *ngFor="let bee of template.bees" src="/assets/art/500w/bees/{{bee.species.art_file}}" width="100px" title="{{bee.species.name}}">
      </div>
    </div>
  </div>
</div>
