<app-hill-background cover></app-hill-background>
<ng-container *ngIf="(currentRound$ | async); else waitForRound">
  <div class="list-container">
    <mat-card *ngFor="let data of (roundData$ | async)" class="student-card">
      <mat-card-header>
        <img mat-card-avatar src="/assets/art/500w/bees/{{data.bee.art_file}}">
        <mat-card-title>{{data.name | sentenceCase}}</mat-card-title>
        <mat-card-subtitle>{{data.bee.name}}</mat-card-subtitle>
        <div class="cards">
          <div class="pollen">
            <mat-icon
              inline
              color='accent'
              *ngFor="let number of [1,2,3]"
            >
              {{number <= data.carryingPollen ? 'lens' : 'panorama_fish_eye'}}
            </mat-icon>
          </div>
          <div class="nest">
            Pollen in nest:
            <span>
              {{data.nestPollen}}
            </span>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="interaction-list">
          <mat-list-item *ngFor="let interaction of data.interactions">
            <img matListAvatar src="/assets/art/500w/{{interaction.isNest ? 'nests': 'flowers'}}/{{interaction.type.art_file}}" />
            <div matLine>Name: {{interaction.type.name}}</div>
            <div matLine>TimePeriod: {{interaction.timePeriod}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-template #waitForRound>
  <div class="centered-container">
    <mat-card>
      <mat-card-title>Waiting for round to begin&hellip;</mat-card-title>
    </mat-card>
  </div>
</ng-template>
