<app-hill-background cover></app-hill-background>
<ng-container *ngIf="(currentRound$ | async); else waitForRound">
  <div class="list-container">
    <mat-card *ngFor="let data of roundData$ | async" class="student-card">
      <mat-card-header>
        <img mat-card-avatar src="/assets/art/500w/bees/{{data.bee.art_file}}">
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>{{data.bee.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list class="interaction-list">
          <mat-list-item *ngFor="let interaction of data.interactions">
            <img matListAvatar src="/assets/art/500w/{{interaction.isNest ? 'nests': 'flowers'}}/{{interaction.type.art_file}}" />
            <div matLine>Name: {{interaction.type.name}}</div>
            <div matLine>TimePeriod: {{interaction.timePeriod}}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-template #waitForRound>
  <div class="centered-container">
    <mat-card>
      <mat-card-title>Waiting for round to begin&hellip;</mat-card-title>
    </mat-card>
  </div>
</ng-template>
