<p>Flower species:</p>
<ul>
  <li *ngFor="let flowerSpecies of allFlowerSpecies">
    {{flowerSpecies.name}} &ndash; {{flowerSpecies.sci_name}}
    <ul>
      <li>
        Blooming Periods:
        <ul>
          <li *ngFor="let bloomingPeriod of flowerSpecies.blooming_period">{{bloomingPeriod[0]}} &ndash; {{bloomingPeriod[1]}}</li>
        </ul>
      </li>
      <li>File: {{flowerSpecies.art_file}}</li>
    </ul>
  </li>
</ul>

<p>Bee species:</p>
<ul>
  <li *ngFor="let beeSpecies of allBeeSpecies">
    {{beeSpecies.name}} &ndash; {{beeSpecies.sci_name}}
    <ul>
      <li>File: {{beeSpecies.art_file}}</li>
      <li>Nest: {{beeSpecies.nest_type.name}}</li>
      <li>
        Active Periods:
        <ul>
          <li *ngFor="let activePeriod of beeSpecies.active_period">{{activePeriod[0]}} &ndash; {{activePeriod[1]}}</li>
        </ul>
      </li>
      <li>
        Flowers Accepted:
        <ul>
          <li *ngFor="let beeFlower of beeSpecies.flowers_accepted">{{beeFlower.name}}</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<p>nests:</p>
<ul>
  <li *ngFor="let nest of allNests">
    {{nest.name}}
    <ul>
      <li>File: {{nest.art_file}}</li>
    </ul>
  </li>
</ul>
