@use "../../../variables" as *;

svg {
  height: 100%;
}

.mat-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 50%;
}

.default-font-bold {
  font-family: mat-font-family($typography-config);
  font-weight: 700;
}

.blue-fill {
  fill: mat-color(mat-palette($mat-blue));
}

.pollen-fill {
  fill: mat-color($pollen-color);
}

.primary-fill {
  fill: mat-color($primary);
}

.material-icons-font {
  font-family: 'Material Icons';
}
