<app-hill-background cover></app-hill-background>
<div class="about-page">
  <div class="about-cards">
    <button routerLink="/" mat-raised-button color="accent">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/icons/icon-circle.svg" alt="Buzz About icon">
        <mat-card-title>Buzz About</mat-card-title>
        <mat-card-subtitle>Version {{buzzAboutInfo.version}} &ndash; <code>{{buzzAboutInfo.git.hash | shorten: 7}}</code></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Buzz About is a participatory simulation that teaches people about native pollinators of Minnesota.</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <a mat-button href="TODO">
          Terms of Service
        </a>
        <a mat-button href="TODO">
          Privacy Policy
        </a>
        <div fxFlex></div> -->
        <a mat-button href="https://github.com/mn-pollinators/buzz-about">
          <mat-icon svgIcon="github"></mat-icon>
          GitHub Repo
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title>Minnesota Pollinators</mat-card-title>
      <mat-card-content>
        <p>
          Minnesota Pollinators is an organization of <a href="https://morris.umn.edu/">University of Minnesota Morris</a> students and faculty
          working on projects that help the native pollinators of Minnesota.
          This project is part of a <a href="https://wcroc.cfans.umn.edu/restoring-native-prairie">grant-funded project</a> to restore native prairie on a site in Morris, MN and
          help people learn about pollinators and the native prairie plants that support them.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://github.com/mn-pollinators">
          <mat-icon svgIcon="github"></mat-icon>
          GitHub
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title>Contributors</mat-card-title>
      <mat-card-content>
        <mat-nav-list>
          <mat-list-item *ngFor="let contributor of allContributors">
            <img matListAvatar src="{{contributor.avatarUrl}}&size=40" srcset="{{contributor.avatarUrl}}&size=80 2x, {{contributor.avatarUrl}}&size=160 4x" alt="{{contributor.username}} GitHub avatar">
            <a matLine [href]="contributor.url">{{contributor.name || contributor.username}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>


    <mat-card class="enrtf-card">
      <mat-card-title>Funding</mat-card-title>
      <mat-card-content>
        <div class="enrtf-logo-container">
          <img src="/assets/enrtf-logo.png" alt="ENRTF logo">
        </div>
        <div class="enrtf-message">
          <p>
            Funding for this project was provided by the Minnesota Environment and Natural Resources Trust Fund
            as recommended by the
            <a href="https://www.lccmr.leg.mn/">Legislative-Citizen Commission on Minnesota Resources (LCCMR)</a>.
          </p>
          <p>
            The Trust Fund is a permanent fund constitutionally established by the citizens of Minnesota to assist in the protection,
            conservation, preservation, and enhancement of the state’s air, water, land, fish, wildlife, and other natural resources.
            Currently 40% of net Minnesota State Lottery proceeds are dedicated to growing the Trust Fund and ensuring future benefits
            for Minnesota’s environment and natural resources.
          </p>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-title>
        License
      </mat-card-title>
      <mat-card-content>
        <p>
          Buzz About is released under the
          <a href="https://github.com/mn-pollinators/buzz-about/blob/master/LICENSE">MIT License</a>
          except as otherwise noted. The illustrations used in Buzz About are released by Olivia Carlson under
          <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)</a>.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="/3rdpartylicenses.txt">Third-Party Licenses</a>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
