<app-hill-background cover></app-hill-background>
<div class="top-bar">
  <button routerLink="/" mat-raised-button color="accent">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="about-page">
  <div class="about-cards">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/icons/icon-circle.svg">
        <mat-card-title>About This App</mat-card-title>
        <!-- TODO: Get the version number using some sort of build script. -->
        <mat-card-subtitle>Buzz About [version tag]</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Buzz About is a participatory simulation that teaches people about native pollinators of Minnesota.</p>
        <p>
          <a class="github-link" href="https://github.com/mn-pollinators/buzz-about/">
            <img src="/assets/github-mark.svg">
            <span>GitHub</span>
          </a>
        </p>
        </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Minnesota Pollinators</mat-card-title>
      <mat-card-content>
        <p>
          Minnesota Pollinators is an organization of <a href="https://morris.umn.edu/">University of Minnesota, Morris</a> students and faculty
          working on projects that help the native pollinators of Minnesota.
        </p>
        <p>
        </p>
        <h3>Members</h3>
        <!-- TODO: Get the members using some sort of build script. -->
      </mat-card-content>
    </mat-card>

    <mat-card class="enrtf-card">
      <mat-card-title>Funding</mat-card-title>
      <mat-card-content>
        <div class="enrtf-logo-container">
          <img src="/assets/enrtf-logo.png">
        </div>
        <div class="enrtf-message">
          <p>
            Funding for this project was provided by the Minnesota Environment and Natural Resources Trust Fund
            as recommended by the
            <a href="https://www.lccmr.leg.mn/">Legislative-Citizen Commission on Minnesota Resources (LCCMR)</a>.
          </p>
          <p>
            The Trust Fund is a permanent fund constitutionally established by the citizens of Minnesota to assist in the protection,
            conservation, preservation, and enhancement of the state’s air, water, land, fish, wildlife, and other natural resources.
            Currently 40% of net Minnesota State Lottery proceeds are dedicated to growing the Trust Fund and ensuring future benefits
            for Minnesota’s environment and natural resources.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
