@import "../../../variables";

.about-page {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.about-cards {
  max-width: 800px;
  //width: 80%;
  margin: 16px;

  >*:not(:last-child) {
    margin-bottom: 16px;
  }
}

.enrtf-card .mat-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px -8px -8px;

  > div {
    margin: 8px;
  }

  .enrtf-logo-container {
    img {
      width: 180px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .enrtf-message {
    min-width: 60%;
    flex: 1;
  }
}
