@import "../../../variables";

.bottom-bar {
  height: $menu-bar-height;
  width: 100%;
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
  display: flex;
  flex-direction: row;

  & > div {
    // The child divs (the left, center, and right thirds of the toolbar) should
    // stretch to fill the entire bar.
    flex: 1;
    // But give them a bit of padding so that their contents aren't right up
    // against the edge.
    padding-left: $menu-bar-padding;
    padding-right: $menu-bar-padding;

    // Each subsection of the toolbar should also be a flex-box.
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  // Within the left third, all items should be left-justified. (Which is the
  // default.)

  .center {
    // Within the center third, all items should be centered.
    justify-content: center;
  }

  .right {
    // And within the right third, all items should be right-justified.
    justify-content: flex-end;
  }
}
