<p>
  Time: {{ (timer.currentTime$ | async)?.time }}
</p>
<p>
  Month: {{ (timer.currentTime$ | async)?.monthString }}
</p>
<p>
  Running: {{ timer.running$ | async }}
</p>
<p>
  <button (click)="initTimerButton()">init timer</button>
  <button (click)="pauseButton()">pause</button>
  <button (click)="unPauseButton()">play</button>
</p>
<p>
    <input type="number" step="1" min="0" max="47" [(ngModel)]="newTime">
    <button (click)="setTimeButton()">Set Time</button>
</p>

<app-timer-progress-bar [currentTime]="timer.currentTime$ | async" [startMonth]="this.startTime.month" [endMonth]="this.endTime.month"></app-timer-progress-bar>
<app-timer-progress-spinner [currentTime]="timer.currentTime$ | async" [startTime]="this.startTime" [endTime]="this.endTime"></app-timer-progress-spinner>
