<!--The content below is only a placeholder and can be replaced.-->
<mdc-top-app-bar short #topbar>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="AR Simulation">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <mdc-icon mdcTopAppBarActionItem>help_outline</mdc-icon>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<br><br>

<button mdc-button raised (click)="topbar.setShortCollapsed(!topbar.isCollapsed(), true)">test</button>

<button mdc-fab>
  <mdc-icon>edit</mdc-icon>
</button>

<router-outlet></router-outlet>

<p>testing</p>

<app-ar-view [markers]="this.markers"></app-ar-view>