<app-hill-background cover></app-hill-background>
<app-back-button top-left routerLink="/"></app-back-button>
<div class="centered-container">
  <div>
    <mat-card>
      <mat-card-title>Buzz About Admin</mat-card-title>
      <mat-card-content>
        Sign in to continue
      </mat-card-content>
      <mat-card-actions align="end">
        <button fxFlex mat-raised-button (click)="signInButton()" color="primary">
          Sign in
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
