<div #contents>
  <br>
  <p>
    Time: {{ (timer.currentTimePeriod$ | async)?.time }}
  </p>
  <p>
    {{timer.currentTimePeriod$ | async}}
  </p>
  <p>
    Running: {{ timer.running$ | async }}
  </p>
  <p>
    <button (click)="initTimerButton()">init timer</button>
    <button (click)="pauseButton()">pause</button>
    <button (click)="unPauseButton()">play</button>
  </p>
  <p>
    <input type="number" step="1" min="0" [max]="MAX_TIME" [(ngModel)]="newTime">
    <button (click)="setTimeButton()">Set Time</button>
  </p>

  <app-timer-progress-bar [currentTimePrecise]="timer.currentTimePrecise$ | async" [startMonth]="this.startTime.month" [endMonth]="this.endTime.month" [currentMonth]="timer.currentMonth$ | async"></app-timer-progress-bar>
  <app-timer-progress-spinner [currentTimePrecise]="timer.currentTimePrecise$ | async" [startTime]="this.startTime" [endTime]="this.endTime"></app-timer-progress-spinner>
</div>
