<div class="list-container">
  <mat-card *ngFor="let student of studentList" class="student-card">
    <mat-card-content class="student-content">
      <div class="student-name">{{student.name}}</div>
      <div>
        <mat-menu #studentConfig="matMenu">
          <button mat-menu-item (click)="renameStudent(student)">
            <mat-icon>edit</mat-icon>
            <span>Rename</span>
          </button>
          <button mat-menu-item (click)="removeStudent(student)">
            <mat-icon>person_remove</mat-icon>
            <span>Remove</span>
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="studentConfig">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
