<app-ar-view [markers]="arMarkers$ | async" (foundMarker)="this.onFoundMarker($event)"></app-ar-view>

<div class="cards">
  <mat-card class='pollen-card'>
    <app-pollen-indicator *ngFor="let pollen of (this.beePollen$ | async); trackBy:trackByIndex" class="pollen-indicator" [full]="pollen"></app-pollen-indicator>
  </mat-card>

  <mat-card class="nest-card" *ngIf="(this.foundRoundMarker$ | async)?.isNest">
    Pollen in nest:
    <span class="nest-pollen-count">
      {{(this.studentRoundService.currentNestPollen$ | async)}}
    </span>
  </mat-card>
</div>

<div class="marker-info" *ngIf="this.foundRoundMarker$ | async as marker">
  <div class="marker-name">
    {{marker.name | titlecase}}
  </div>
  <div class="marker-tip" *ngIf="marker.tip as tip">
    {{tip}}
  </div>
</div>

<img
  class="student-bee"
  *ngIf="(studentRoundService.currentBeeSpecies$ | async) as bee"
  src="/assets/art/500w/bees/{{bee.art_file}}"
  [ngStyle]="{'transform': 'translate(-50%, 25%) scale(' + calculateBeeScale(bee.relative_size) + ')', 'height': '50%'}"
  [alt]="bee.name"
>

<app-thought-bubble class="thought-bubble" [type]="ThoughtBubbleType.GO_TO_NEST"></app-thought-bubble>

<ng-container *ngIf="this.foundRoundMarker$ | async as marker">
  <button
    mat-fab
    class="interact-button"
    color="primary"
    [disabled]="!marker.canVisit"
    (click)="clickInteract()"
    aria-label="Interact"
  >
    <mat-icon [svgIcon]="marker.isNest ? 'arrow-home' : 'arrow-flower'">
    </mat-icon>
  </button>
</ng-container>
