@import "../../../variables";

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.student-bee {
  position: absolute;
  left: 50%;
  bottom: 0%;
  height: 50%;
}

.interact-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
  transform: translate(-50%, -50%) scale(2);
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nest-card, .pollen-card {
  margin: 5px;
  padding: 0.6em 0.4em;

  font-size: 1.5rem;
  @media (min-width: $tablet-portrait-min-width) {
    font-size: 2rem;
  }
  @media (min-width: $tablet-landscape-min-width) {
    font-size: 2.5rem;
  }
}

.pollen-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.nest-card {
  text-align: center;

  .nest-pollen-count {
    font-weight: bold;
  }
}

