<app-hill-background cover></app-hill-background>
<div class="home-container">
  <div class="main-section">
    <mat-card class="column">
      <img width="1" height="1" mat-card-image src="/assets/icons/icon-square.svg">
      <mat-card-title>Welcome to Buzz About</mat-card-title>
    </mat-card>
    <div class="column">
      <mat-card>
        <mat-card-title>Join a session</mat-card-title>
        <mat-card-actions align="end">
          <button fxFlex mat-raised-button routerLink="/play" color="primary">Play</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>Host a session</mat-card-title>
        <mat-card-actions align="end">
          <button fxFlex mat-raised-button routerLink="/host" color="accent">Host</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="about-container">
    <mat-card class="about-card">
      <mat-card-content>
        <span>
          Buzz About by Minnesota Pollinators
        </span>
        <span class="about-buttons"  fxHide.xs>
          <button mat-button routerLink="/markers">Markers</button>
          <button mat-button routerLink="/about">About</button>
          <!-- <button mat-button >Privacy Policy</button> -->
        </span>
        <span class="about-buttons" fxHide.gt-xs fxShow.xs>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/markers">
              Markers
            </button>
            <button mat-menu-item routerLink="/about">
              About
            </button>
          </mat-menu>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
