<app-hill-background cover></app-hill-background>
<div class="home-container">
  <div class="main-section">
    <mat-card class="column">
      <img width="1" height="1" mat-card-image src="/assets/icons/icon-square.svg" alt="">
      <mat-card-title>Welcome to Buzz About</mat-card-title>
    </mat-card>
    <div class="column">
      <mat-card>
        <mat-card-title>Join a session</mat-card-title>
        <mat-card-actions align="end">
          <a fxFlex mat-raised-button routerLink="/play" color="primary">Play</a>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>Host a session</mat-card-title>
        <mat-card-actions align="end">
          <a fxFlex mat-raised-button routerLink="/host" color="accent">Host</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="about-container">
    <mat-card class="about-card">
      <mat-card-content>
        <span class="about-buttons">
          <a mat-button routerLink="/field-guide">Field Guide</a>
          <a mat-button routerLink="/markers">Markers</a>
        </span>
        <span class="about-buttons" fxHide.xs>
          <a mat-button routerLink="/about">About</a>
          <a mat-button href="https://docs.buzzabout.app/privacy-policy" target="_blank">Privacy</a>
        </span>
        <span class="about-buttons" fxHide.gt-xs>
          <a mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="/about">About</a>
            <a mat-menu-item href="https://docs.buzzabout.app/privacy-policy" target="_blank">Privacy</a>
          </mat-menu>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
