<div class='reviewItem'>
  <div class='reviewImgWrapper'><img src="{{this.imgSrc}}"></div>

  <div class='reviewSpecies'>
    <div class='reviewType-{{this.type}}'>{{this.sciName}}</div>
    {{this.species}}
  </div>

  <div class='reviewActivePeriodGroup'>
    <a class='activeMonthsText' *ngIf='this.type === "bee"'>Buzzing from </a>
    <a class='activeMonthsText' *ngIf='this.type === "flower"'>Blooming from </a>
    <a class='activeMonthsWrapper' *ngFor="let p of this.periods">{{p.begin}} to {{p.end}}; </a>

    <div class='linearProgressContainer'>
      <div class='activePeriodWrapper' *ngFor="let p of this.periods.slice().reverse()">
        <div class='linearProgressWrapper-{{this.type}}'>
          <mdc-linear-progress determinate [progress]="p.from" [buffer]="p.to"></mdc-linear-progress>
        </div>
      </div>
    </div>
  </div>
</div>
