<h1 mat-dialog-title>Select a Round</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between" class="dialog-content">
  <mat-selection-list [multiple]="false" fxFlex="30" [(ngModel)]="currentSets" class="set-list">
    <div mat-subheader>Round Sets</div>
    <mat-list-option *ngFor="let set of roundSets" [value]="set">
      {{set.name}}
    </mat-list-option>
  </mat-selection-list>
  <div fxFlex="70" class="set-container">
    <mat-horizontal-stepper #stepper [@.disabled]="true" class="horizontal-stepper-no-padding">
      <mat-step *ngFor="let template of currentSets[0].templates; index as i" [label]="template.name" [completed]="false">
        <div class="template-information" *ngIf="stepper.selectedIndex === i">
          <app-flower-layout [items]="getFlowers(template.flowerSpecies)" tooltips="true"></app-flower-layout>
          <div class="template-description mat-body">
            <h2 class="template-name">{{currentSets[0].name}}: {{template.name}}</h2>
            <p class="mat-body-2">{{currentSets[0].description}}</p>
            <p>{{template.description}}</p>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    color="primary"
    mat-button
    [mat-dialog-close]="{setId: currentSets[0].id, template: currentSets[0].templates[stepper.selectedIndex]}"
  >
    Start
  </button>
</div>
