<h1 mat-dialog-title>Select a Round</h1>
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between">
  <mat-selection-list #templates [multiple]="false" fxFlex="30">
    <mat-list-option *ngFor="let template of roundTemplates" [value]="template">
      {{template.name}}
    </mat-list-option>
  </mat-selection-list>
  <div>
    <app-flower-layout [items]="getFlowers(templates.selectedOptions.selected[0]?.value.flowerSpecies || [])" tooltips="true"></app-flower-layout>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    color="primary"
    mat-button
    [disabled]="templates.selectedOptions.isEmpty()"
    [mat-dialog-close]="templates.selectedOptions.selected[0]?.value"
  >
    Start
  </button>
</div>
