@use '../../../variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  .header-text {
    flex-grow: 1;
  }

  .title {
    margin-bottom: 4px;
    font: {
      size: mat-font-size($typography-config, headline);
      weight: mat-font-weight($typography-config, title);
    }
  }

  .subtitle {
    color: mat-color($foreground, secondary-text);
    @include mat-typography-level-to-styles($typography-config, body-1);
  }

  .header-image {
    //width: 152px;
    height: 152px;
    //margin-left: auto;
    margin-right: auto;
  }

  & > * {
    margin-bottom: 16px;
  }
}

.accepted-list {

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 80px; //TODO
  //display: flex;
  overflow-x: auto;
  margin-left: -24px;
  margin-right: -24px;

  &:before, &:after {
    content: '';
    width: 24px;
  }

  .accepted-list-item {
    //margin-right: 8px;
    //min-width: 80px;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 56px;
    }
    .accepted-name {
      text-align: center;
      @include mat-typography-level-to-styles($typography-config, caption);
    }
  }
}

.active-period {
  app-small-timeline {
    //width: 50%;
    //min-width: 250px;
  }
}

.section-header {
  @include mat-typography-level-to-styles($typography-config, subheading-2);
}
