@use '../../../variables' as *;

.header {
  position: relative;
  margin-bottom: 16px;

  .title {
    margin-bottom: 4px;
    font: {
      size: mat-font-size($typography-config, headline);
      weight: mat-font-weight($typography-config, title);
    }
  }

  .subtitle {
    color: mat-color($foreground, secondary-text);
    @include mat-typography-level-to-styles($typography-config, body-1);
  }

  .close-button {
    position: absolute;
    top: -12px;
    right: -12px;
    color: mat-color($foreground, secondary-text);
  }
}

.header-image-container {
  height: 152px;
  display: grid;
  place-items: center;
  .header-image {
    display: block;
    max-height: 152px;
    max-width: 100%;

    &.webkit-fix {
      // Necessary for Safari. Otherwise we get this bug:
      // https://github.com/mn-pollinators/buzz-about/issues/257
      width: 152px;
      height: 152px;
    }
  }
}


.accepted-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10px;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 80px; //TODO
  overflow-x: auto;
  margin-left: -24px;
  margin-right: -24px;
  padding-bottom: 4px;

  &:before, &:after {
    content: '';
    width: 24px;
  }

  .accepted-list-item {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 56px;
      margin-bottom: 4px;

      &.webkit-fix {
        // Necessary for Safari. Otherwise we get this bug:
        // https://github.com/mn-pollinators/buzz-about/issues/257
        width: 56px;
      }
    }
    .accepted-name {
      text-align: center;
      @include mat-typography-level-to-styles($typography-config, caption);
    }
  }
}

.description {
  display: block;
  margin: 8px -24px;
  padding: 0 24px;
  max-height: 75vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -24px;

  &>*:not(:last-child) {
    margin-bottom: 8px;
  }
}

.description-text {
  details {
    summary:focus {
      outline-color: mat-color($foreground, disabled-button);
    }
    summary::marker, summary::-webkit-details-marker {
      color: mat-color($foreground, secondary-text);
    }
  }
}

.nest-description {
  margin-top: 16px;
}

.section-header {
  @include mat-typography-level-to-styles($typography-config, subheading-2);
}
