<div class="header">
  <div>
    <div class="title">{{data.value.name | titlecase}}</div>
    <div class="subtitle">{{data.value.sci_name}}</div>
  </div>
  <img class="header-image" src="/assets/art/500w/{{data.type}}s/{{data.value.art_file}}">
</div>
<mat-dialog-content>
<div *ngIf="flower">
{{flower.description.summary}}
</div>
<div *ngIf="bee">
<dl>
  <ng-container *ngFor="let desc of beeDescription">
    <dt class="mat-body-2">{{desc.title}}</dt>
    <dd>{{desc.text}}</dd>
  </ng-container>
</dl>
</div>
</mat-dialog-content>
