@import '@angular/material/theming';

$custom-mat-green: map-merge($mat-green, (
  contrast: map-merge(map-get($mat-green, contrast), (
    500: $light-primary-text
  ))
));

$primary: mat-palette($custom-mat-green);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent, $warn);

$foreground: map-get($theme, foreground);

$background: map-get($theme, background);

// 64px is the default menu bar height in Material; we use it for both our top
// bars and our bottom bars.
$menu-bar-height: 64px;
$menu-bar-padding: 16px;
