@import '@angular/material/theming';

$custom-mat-green: map-merge($mat-green, (
  contrast: map-merge(map-get($mat-green, contrast), (
    500: $light-primary-text
  ))
));

$primary: mat-palette($custom-mat-green);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-deep-orange);

$theme: mat-light-theme($primary, $accent, $warn);

$foreground: map-get($theme, foreground);

$background: map-get($theme, background);

// 64px is the default menu bar height in Material; we use it for both our top
// bars and our bottom bars.
$menu-bar-height: 64px;
$menu-bar-padding: 16px;

// Some breakpoints for media queries.
// See https://material.io/design/layout/responsive-layout-grid.html#breakpoints
$tablet-portrait-min-width: 600px;
$tablet-landscape-min-width: 960px;
// Note that the "tablets in portrait mode" size class is also a pretty
// good estimation for phones in landscape mode. Right now we're not really
// distinguishing between those size classes, but if you need to, consider
// using a media query like `(orientation: portrait)`.

// We're adjusting the font sizes slightly, for two reasons.
// First, larger font-sizes are a bit more kid-friendly.
// Second, if your font sizes are smaller than 16px, iOS is a bit more
// aggressive about zooming in:
// https://stackoverflow.com/a/6394497
//
// See the base typography settings here:
// https://github.com/angular/components/blob/master/src/material/core/typography/_typography.scss
$custom-typography: mat-typography-config(
  $title:         mat-typography-level(22px, 32px, 500),
  $subheading-2:  mat-typography-level(18px, 28px, 400),
  $subheading-1:  mat-typography-level(17px, 24px, 400),
  $body-2:        mat-typography-level(16px, 24px, 500),
  $body-1:        mat-typography-level(16px, 20px, 400),
  $button:        mat-typography-level(16px, 16px, 500),
);
