/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #4CAF50; // primary color
$mdc-theme-secondary: #FFC107; // secondary color
$large-display-background: #84aa4c; // a color picked from background image

@import "~@angular-mdc/theme/material";

.debug {
    margin-top: 60px;
    div {
        position: relative !important;
        top: none !important;
        left: none !important;
    }
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.main-content {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top:56px;
  left: 0;
  right: 0;
}

// adapt to auto tool bar height
@media screen and (min-width: 600px) {
  .main-content {
    top:64px;
  }
}

////////////////////////////////
// styles to the large display//
////////////////////////////////

.flowers {
  position: absolute;
  z-index: 1;
}

.flower {
  -webkit-filter: drop-shadow(0 -5px 15px#f0f1eb);
  filter: drop-shadow(0 -5px 15px #f0f1eb);
}

.largeDisplayContent {
  height: 100%;
  background-color: $large-display-background;
}

.backgroundWrapper {
  position: relative;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.displayBackground {
  position: absolute;
  width: 100%;
  opacity: 1
}

.timerBar {
  position: absolute;
  display: block;
  right: 0;
  bottom: 48px; // minimum: 16px
  z-index: 2;
  width: 500px;
  justify-self: center;
  height: 96px;
  background-color: $large-display-background;
  // box-shadow: 0 15px 75px darken( $large-display-background, 20% );
}

@media screen and (max-width: 500px) {
  .timerBar {
    margin-left: -250px;
    left: 50%;
  }
}

.monthWrapper, .progressBar {
  position: relative;
  display: inline-block;
  left: 110px;
  width: 280px;
  height: 48px;
  background-color: rgba(113, 145, 39, 0.85);
  line-height: 48px;
  text-align: center;
  font-size: 28px;
  color: $mdc-theme-secondary
}

.monthWrapper a {
  color: rgb(228, 223, 198);
  font-family: Comic Sans MS;
  text-transform: uppercase;
}

.progressBar {
  text-align: left;
  font-weight: 100;
  position: absolute;
  top: 0;
  height: 48px;
  z-index: 0;
}

#previousMonth, #nextMonth {
  position: absolute;
  color: $mdc-theme-secondary;
  height: 48px;
  width: 110px;
}

#nextMonth {
  right: 0;
}

.displayedMonth {
  height: 48px;
}

.timeSliderWrapper {
  padding: 0 110px 0 110px;
  height: 48px;
}

.timeSlier {
  position: absolute;
}

.displayedTime {
  height: 48px;
  line-height: 48px;
  width: 75px;
  position: absolute;
  text-align: center;
  font-size: 14px;
  color: $mdc-theme-secondary;
  right: 18px;
}

.timerController {
  height: 48px;
  position: absolute;
  text-align: left;
  top: 48px;
  left: 6px;
}

.timerController button {
  color: $mdc-theme-secondary;
}

.backgroundMonth {
  position: absolute;
  line-height: 200px;
  font-size: 200px;
  top: 0;
  display: block;
  color: $mdc-theme-secondary;
  width: 100%;
  text-align: center;
  z-index: 0;
  text-shadow:  0 0 5px $mdc-theme-secondary;
  overflow: hidden;
  opacity: 0.75;
  font-family: Comic Sans MS;
}

.timerBar {
  .mdc-icon-button::before, .mdc-icon-button::after {
    background-color: $mdc-theme-secondary;
  }

  .mdc-button:disabled, .mdc-icon-button:disabled {
    color: $mdc-theme-secondary;
    opacity: 0.38;
  }
}
