/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #4CAF50; // primary color
$mdc-theme-secondary: #FFC107; // secondary color

@import "~@angular-mdc/theme/material";

.debug {
    margin-top: 60px;
    div {
        position: relative !important;
        top: none !important;
        left: none !important;
    }

}

// Changes the buffer color to a darker color so the text is more readable
// Note: I tried to do this in the component scss file where it would make more sense to do so, but it did not work for some reason.
$bufferColor: #A1A1A1;
.timerBar {
    @include mdc-linear-progress-buffer-color($bufferColor);
}
