<app-hill-background></app-hill-background>
<div class="flowers" [ngClass]="'flowers-' + items.length">
  <div
    *ngFor="let item of items; index as i; count as c; trackBy:trackByIndex;"
    class="flower-item"
    [ngStyle]="getFlowerStyle(item, c, i)"
    [matTooltip]="item.alt | sentenceCase"
    [matTooltipDisabled]="!tooltips"
  >
    <app-flower-layout-item
      *ngIf="item"
      [imgSrc]="item.imgSrc"
      [imgAlt]="item.alt"
      [active]="item.active"
    >
    </app-flower-layout-item>
  </div>
</div>
