@import "../../variables";

$positions: (
  8% 40%,
  20% 34%,
  32% 37%,
  45% 30%,
  54% 40%,
  65% 34%,
  77% 40%,
  73% 63%,
  88% 68%,
  90% 45%,
  62% 62%,
  8% 58%,
  50% 70%,
  40% 59%,
  19% 66.5%,
  30% 62%,
);

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  @for $i from 1 through length($positions) {
    $pair: nth($positions, $i);
    app-flower-layout-item:nth-child(#{$i}) {
      left: nth($pair, 1);
      top: nth($pair, 2);
    }
  }

  app-flower-layout-item {
    width: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    // Measure from the center the flower, not the corner.
    //transform: translate(-50%, -50%);
  }
}


:host {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.background-img {
  width: 100%;

  // If the image is inline, the .layout-container div grows a little bit too
  // tall
  // See https://stackoverflow.com/questions/16495831/css-div-with-width-100-is-a-few-pixels-too-high-why
  display: block;
}
