@import "../../variables";

$positions: (
  8% 25%,
  20% 22%,
  32% 27%,
  42.5% 18%,
  54% 24%,
  65% 22%,
  77% 25%,
  74% 48%,
  88% 53%,
  90% 30%,
  62% 47%,
  8% 46%,
  50% 55%,
  40% 45%,
  19% 51.5%,
  30% 51%,
);

.flowers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  @for $i from 1 through length($positions) {
    $pair: nth($positions, $i);
    app-flower-layout-item:nth-child(#{$i}) {
      left: nth($pair, 1);
      top: nth($pair, 2);
    }
  }

  app-flower-layout-item {
    // Base width of each flower is 10%, flowers may have their own scaling
    width: 10%;

    position: absolute;

    // Measure from the center the flower, not the corner.
    transform: translate(-50%, -50%);
  }
}


:host {
  display: block;
  //width: 100%;
  position: relative;
  overflow: hidden;
  contain: layout;
}

.background-img {
  width: 100%;

  // If the image is inline, the .layout-container div grows a little bit too
  // tall
  // See https://stackoverflow.com/questions/16495831/css-div-with-width-100-is-a-few-pixels-too-high-why
  display: block;
}
