:host {
  z-index: -1;
  pointer-events: none;
}

:host[cover] {
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

img {
  width: 100%;

  // If the image is inline, the .layout-container div grows a little bit too
  // tall
  // See https://stackoverflow.com/questions/16495831/css-div-with-width-100-is-a-few-pixels-too-high-why
  display: block;
}
