<app-top-menu-bar></app-top-menu-bar>

<nav>
  <h2>Student</h2>
  <ul>
    <li><a routerLink="/play">Play</a></li>
  </ul>
  <h2>Teacher</h2>
  <ul>
    <li><a routerLink="/host">Host</a></li>
  </ul>
  <h2>Test</h2>
  <ul>
    <li><a routerLink="/test/timer-test">timer-test</a></li>
    <li><a routerLink="/test/flower-test">flower-test</a></li>
    <li><a routerLink="/test/json-data-test">json-data-test</a></li>
    <li><a routerLink="/test/session-test">session-test</a></li>
    <li><a routerLink="/test/prepare-round-test">prepare-round-test</a></li>
  </ul>
</nav>
