<app-top-menu-bar></app-top-menu-bar>

<nav>
  <ul>
    <!--
      TODO: fix this /play link.

      (/play by itself isn't a route that exists--you would have to route to
      /play/:sessionId, for some value of sessionId.)
    -->
    <li><a routerLink="/play">play</a></li>
    <li><a routerLink="/teacher">teacher</a></li>
    <li><a routerLink="/timer-test">timer-test</a></li>
    <li><a routerLink="/flower-test">flower-test</a></li>
    <li><a routerLink="/json-data-test">json-data-test</a></li>
    <li><a routerLink="/session-test">session-test</a></li>
    <li><a routerLink="/join">join</a></li>
    <li><a routerLink="/prepare-round-test">prepare-round-test</a></li>
  </ul>
</nav>
