<app-hill-background cover></app-hill-background>
<div class="home-container">
  <div class="main-section">
  <mat-card class="column">
    <img mat-card-image src="/assets/icons/icon-square.svg">
    <mat-card-title>Welcome to Buzz About</mat-card-title>
  </mat-card>
  <div class="column">
    <mat-card>
      <mat-card-title>Join a session</mat-card-title>
      <mat-card-actions align="end">
        <button mat-raised-button routerLink="/play" color="accent">Play</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Host a session</mat-card-title>
      <mat-card-actions align="end">
        <button mat-button routerLink="/host">Host</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  <mat-card class="lccmr-card">
    <mat-card-content>
      <p>
        Funding for this project was provided by the Minnesota Environment and Natural Resources Trust Fund
        as recommended by the
        <a href="https://www.lccmr.leg.mn/">
          Legislative-Citizen Commission on Minnesota Resources (LCCMR)
        </a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
