<p>Flower species:</p>
<ul>
  <li *ngFor="let flowerSpecies of allFlowerSpecies">
    {{flowerSpecies.name}} &ndash; {{flowerSpecies.sci_name}}
    <ul>
      <li>
        Blooming Period: {{flowerSpecies.blooming_period[0]}} &ndash; {{flowerSpecies.blooming_period[1]}}
      </li>
      <li>
        <div>File: {{flowerSpecies.art_file}}</div>
        <img [src]="flowerSpecies.asset_urls.art_500_wide" width="100px" title="500w image">
        <img [src]="flowerSpecies.asset_urls.art_512_square" width="100px" title="512 square image">
        <img [src]="flowerSpecies.asset_urls.art_512_square_grayscale" width="100px" title="512 square grayscale image">
      </li>
    </ul>
  </li>
</ul>

<p>Bee species:</p>
<ul>
  <li *ngFor="let beeSpecies of allBeeSpecies">
    {{beeSpecies.name}} &ndash; {{beeSpecies.sci_name}}
    <ul>
      <li>
        <div>File: {{beeSpecies.art_file}}</div>
        <img [src]="beeSpecies.asset_urls.art_500_wide" width="100px" title="500w image">
      </li>

      <li>Nest: {{beeSpecies.nest_type.name}}</li>
      <li>
        Active Period: {{beeSpecies.active_period[0]}} &ndash; {{beeSpecies.active_period[1]}}
      </li>
      <li>
        <details>
          <summary>Flowers Accepted</summary>
          <ul>
            <li *ngFor="let beeFlower of beeSpecies.flowers_accepted">{{beeFlower.name}}</li>
          </ul>
        </details>
      </li>
    </ul>
  </li>
</ul>

<p>nests:</p>
<ul>
  <li *ngFor="let nest of allNests">
    {{nest.name}}
    <ul>
      <li>
        <div>File: {{nest.art_file}}</div>
        <img [src]="nest.asset_urls.art_500_wide" width="100px" title="500w image">
        <img [src]="nest.asset_urls.art_512_square" width="100px" title="512 square image">
        <img [src]="nest.asset_urls.art_512_square_grayscale" width="100px" title="512 square grayscale image">
      </li>
    </ul>
  </li>
</ul>
