@import "../../variables";

.progress-spinner-wrapper {
  margin: 20px;
  margin-top: -1px;

  .mat-progress-spinner svg {
    padding: 10px;

    circle {
      stroke: $mdc-theme-secondary;
      opacity: 0.6;
      transform: scaleY(-1);
    }
  }
}
