@use "../../../variables" as *;

$progress-bar-height: 24px;

.timer-progress-bar-container {
  position: relative;
  width: 100%;

  mat-progress-bar.monthProgress {
    height: $progress-bar-height;

    .mat-progress-bar-fill {
      animation: none;
      transform-origin: top left;
      transition: transform $timer-base-tick-speed linear;

      @include cdk-high-contrast(active, off) {
        border-top: solid $progress-bar-height;
      }

      &::after {
        background-color: mat-color($primary, 300);
      }
    }
  }

  .progressMonths {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .progressMonth {
      flex: 1;
      height: $progress-bar-height;
      line-height: $progress-bar-height;
      text-align: center;
      font-size: 16px;
      position: relative;

      &:not(:last-child) {
        border-right: 1px solid white;
      }

      &.currentMonth {
        font-weight: 700;
        color: mat-color($foreground, text);
      }
    }
  }
}

